.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  h1 {
    margin-inline: auto;
    color: var(--blue);
  }
  .btn {
    margin-inline: auto;
  }
  > div {
    display: grid;
    grid-template-columns: repeat(4, 35vw);
    grid-template-rows: 1fr;
    grid-gap: 15px;
    margin-block: 50px;
    position: relative;
    left: -80px;
    > div {
      padding: 40px;
      position: relative;
      background-color: var(--gray);
      text-align: center;
      border-radius: 5px;
      img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      p {
        font-size: 15px;
        line-height: 25px;
        color: var(--gray-100);
      }
      h2 {
        font-size: 16px;
        margin-block: 20px 20px;
      }
    }
    .mobile-button {
      display: none;
    }
  }
}
@media screen and (max-width: 1100px) {
  .about {
    > div {
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 350px;
      > div:not(.mobile-button) {
        opacity: 0;
        width: 400px;
        transition: .5s;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &.active {
            opacity: 1;
        }
      }
      .mobile-button {
        display: block;
        background-color: transparent;
        padding: 0;
        position: absolute;
        bottom: 0;
        transform: translateY(calc(100% + 20px));
        > button {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid var(--red);
          cursor: pointer;
          &.active {
            background-color: var(--red);
          }
        }
      }
    }
  }
}
