header {
  padding-inline: var(--p);
  height: calc(90vh - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  main {
    width: 50%;
    h1 {
      color: var(--blue);
      font-size: 45px;
    }
    p {
      color: var(--gray-100);
      margin-block: 20px;
      line-height: 30px;
    }
  }
  img {
    width: 40%;
  }
}
@media screen and (max-width: 1100px) {
  header {
    height: max-content;
    flex-direction: column-reverse;
    main {
      width: 100%;
      text-align: center;
    }
  }
}
@media screen and (max-width: 700px) {
  header {
    main {
      h1 {
        font-size: 30px;
      }
      p br {
        display: none;
      }
    }
    img {
      width: 100%;
    }
  }
}
